/********************************************/
/**************** Dimensions ****************/
/********************************************/
.nav-link {
  --bs-nav-link-font-size: 1.2rem;
}
.header .header-navbar {
	min-height: 4rem;
}
.sidebar .sidebar-nav .nav-title {
	font-size: 100%;
}
.catatext {
	font-size: 1.2rem;
}

/********************************************/
/******************* Colors *****************/
/********************************************/
.background-project {
	background-color: #0a1172!important;
}
.background-holders {
	background-color: #1338be!important;
}
.background-exchanges {
	background-color: #d1d1f6!important;
}
.background-defi {
	background-color: #add8e6!important;
}
.background-disabled {
	background-color: #c0c0c0!important;
}
